@model OrderCreateOrUpdateModel
@inject IEventPublisher eventPublisher

@{
    //page title
    ViewBag.Title = T("Admin.Orders.CreateOrderDetails").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Create Order");
}

<div action="#" method="post" id="order-form">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Orders.CreateOrderDetails")
        </h1>
    </div>
    <input type="hidden" name="CustomerId" id="CustomerId" class="form-control" value="" />

    <div asp-validation-summary="All"></div>

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group" id="findCustomerPanel">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">


                        <div class="form-group">
                            <div class="col-md-4">
                                <nop-label asp-for="CustomerPhone" />
                            </div>
                            <div class="col-md-8">
                                <input style="float: left;" type="text" name="CustomerPhone" id="CustomerPhone" class="form-control" placeholder="@(T("Admin.Common.PleaseInputSearchData"))" value="@Model.CustomerPhone" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <button style="float: right; margin-left: 10px; margin-top: 10px;" id="btnCreateOrder" class="btn btn-primary" type="button">@T("Admin.Common.SelectedCustomer.CreateOrder")</button>
                            </div>
                        </div>
                        <script>
                            function LoadCustomerInfo(customerId) {
                                // load info customer
                                $.ajax({
                                    type: "GET",
                                    url: "@(Url.Action("GetCustomerInfo", "Customer"))",
                                    data: {customerId: customerId},
                                    complete: function(result) {
                                        var data = result.responseJSON.Data;
                                        $('.customerFullName').html(data.CustomerFullName);

                                        var customerAddress = data.CustomerAddress +
                                            ", " +
                                            data.CustomerWard +
                                            ", " +
                                            data.CustomerDistrict +
                                            ", " +
                                            data.CustomerCity;
                                        $('.customerAddress').html(customerAddress);

                                        $('#customerInformationPanel').show();
                                        $('#findCustomerPanel').hide();
                                    },
                                    error: function(xhr, ajaxOptions, thrownError) {
                                        alert(thrownError);
                                    },
                                    traditional: true
                                });
                            }

                            function LoadCustomerCurrentCart(customerId) {
                                // load info customer
                                $.ajax({
                                    type: "GET",
                                    url: "@Url.Action("GetCustomerCurrentCart", "ShoppingCart")",
                                    data: { customerId: customerId},
                                    complete: function (result) {
                                        $("#customerCurrentCart").html(result.responseText);
                                    },
                                    error: function(xhr, ajaxOptions, thrownError) {
                                        alert(thrownError);
                                    },
                                    traditional: true
                                });
                            }

                            $(document).ready(function() {

                                $("#customerId").val('');
                                $("#CustomerPhone").val('');

                                $("#CustomerPhone").autocomplete({
                                    delay: 800,
                                    source: function(request, response) {

                                        var postData = {
                                            searchTerm: request.term
                                        };
                                        addAntiForgeryToken(postData);

                                        $.ajax({
                                            cache: false,
                                            type: "POST",
                                            url: "@(Url.Action("CustomerSearchPhone", "Customer"))",
                                            data: postData,
                                            complete: function(result) {
                                                response($.map(result.responseJSON.Data,
                                                    function(item) {
                                                        return {
                                                            label: item.FullName,
                                                            value: item.Id
                                                        }
                                                    }));
                                            },
                                            error: function(xhr, ajaxOptions, thrownError) {
                                                alert(thrownError);
                                            },
                                            traditional: true
                                        });
                                    },
                                    minLength: 3,

                                    select: function(event, ui) {
                                        $('#CustomerId').val(ui.item.value);
                                        this.value = ui.item.label;

                                        LoadCustomerInfo(ui.item.value);

                                        LoadCustomerCurrentCart(ui.item.value);
                                    },

                                    focus: function(event, ui) {
                                        event.preventDefault();
                                        this.value = ui.item.label;
                                    },
                                    search: function(e, u) {
                                        $(this).addClass('ajaxprocessing');
                                    },
                                    response: function(event, ui) {
                                        $(this).removeClass('ajaxprocessing');
                                    }
                                });


                                $('#btnCreateOrder').click(function() {
                                    var customerId = $('#CustomerId').val();
                                    if (customerId === null || customerId === undefined) {
                                        return false;
                                    }
                                    LoadCustomerInfo(customerId);
                                    return true;
                                });


                            });

                        </script>
                    </div>
                </div>
            </div>
            <div class="panel-group" id="customerInformationPanel" style="display: none;">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <h4>@T("Admin.Common.CreateOrder.CustomerFullName"): <span class="customerFullName"></span></h4>
                        <h4>@T("Admin.Common.CreateOrder.CustomerAddress"): <span class="customerAddress"></span></h4>
                    </div>
                </div>
            </div>
            <nop-tabs id="order-edit">
                <nop-tab asp-name="tab-info" asp-title="@T("Admin.Orders.ListProductInfo")" asp-default="true">@await Html.PartialAsync("_ListProductInfo", Model.ProductListModel)</nop-tab>
                <nop-tab asp-name="tab-cart-info" asp-title="@T("Admin.Orders.AdminCart")">
                    <div>
                        <button id="btnUpdateCartAdmin" type="button" name="updatecart" class="btn btn-primary">@T("ShoppingCart.UpdateCart")</button>
                        <button style="float: right; margin-left: 10px; margin-top: 10px;" id="btnReloadCustomerCart" class="btn btn-danger" type="button">@T("Admin.Common.SelectedCustomer.ReloadCart")</button>
                    </div>
                    <br/>
                    <div id="customerCurrentCart">
                        <!--Cotent customer cart current-->
                    </div>
                </nop-tab>
            </nop-tabs>
        </div>
    </div>

</div>

<!-- Modal Add To Card-->
<div class="modal fade" id="productInfoModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <div id="product-info">
                            
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
            </div>
        </div>

    </div>
</div>

<script>
    $(document).ready(function() {
        
        $("#btnUpdateCartAdmin").click(function() {
            var customerId = $('#CustomerId').val();
            $.ajax({
                url: "@Url.Action("AdminUpdateCartAjax", "ShoppingCart")?customerId=" + customerId,
                type: 'POST',
                data: $('#shopping-cart-form').serialize(),
                complete: function(result) {
                    LoadCustomerCurrentCart(customerId);
                }
            });
        });

        $("#btnReloadCustomerCart").click(function() {

            var customerId = $('#CustomerId').val();
            LoadCustomerCurrentCart(customerId);
        });
    });
</script>