@model ShipmentModel

@using System.Text

@{
    //page title
    ViewBag.Title = string.Format(T("Admin.Orders.Shipments.AddNew.Title").Text, Model.CustomOrderNumber);
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Orders");

    var itemsFromMultipleWarehouses = Model.Items
        .Where(x => x.AllowToChooseWarehouse && x.AvailableWarehouses.Count > 0)
        .ToList();
}

<form asp-controller="Order" asp-action="AddShipment" asp-route-orderId="@Model.OrderId" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @string.Format(T("Admin.Orders.Shipments.AddNew.Title").Text, Model.CustomOrderNumber)
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="Edit" asp-route-id="@Model.OrderId">@T("Admin.Orders.Shipments.BackToOrder")</a>
            </small>
        </h1>
        <div class="pull-right">
            <button type="submit" id="shipment-save" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" id="shipment-save-continue" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = "admin_order_shipment_add_buttons" })
        </div>
    </div>
    <div asp-validation-summary="All"></div>

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <input type="hidden" name="CustomerShipmentId" id="CustomerShipmentId" class="form-control" value="@(Model.CustomerId > 0 ? Model.CustomerId.ToString() : string.Empty)" />
                            <div class="col-md-3">
                                <nop-label asp-for="CustomerId" />
                            </div>
                            <div class="col-md-9">
                                <input style="float: left;" type="text" name="CustomerName" id="CustomerName" class="form-control" placeholder="@(T("Admin.Common.PleaseInputSearchData"))" value="@Model.CustomerFullName" />
                                <script>
                                    $(document).ready(function() {
                                        $("#CustomerName").autocomplete({
                                            delay: 800,
                                            source: function(request, response) {

                                                var postData = {
                                                    searchTerm: request.term
                                                };
                                                addAntiForgeryToken(postData);

                                                $.ajax({
                                                    cache: false,
                                                    type: "POST",
                                                    url: "@(Url.Action("CustomerSearch", "Customer"))",
                                                    data: postData,
                                                    complete: function(result) {
                                                        response($.map(result.responseJSON.Data,
                                                            function(item) {
                                                                return {
                                                                    label: item.FullName,
                                                                    value: item.Id
                                                                }
                                                            }));
                                                    },
                                                    error: function(xhr, ajaxOptions, thrownError) {
                                                        alert(thrownError);
                                                    },
                                                    traditional: true
                                                });
                                            },
                                            minLength: 2,
                                            select: function(event, ui) {
                                                $('#CustomerShipmentId').val(ui.item.value);
                                                this.value = ui.item.label;
                                                //setTimeout(function() {

                                                //},500);
                                                return false;
                                            },
                                            focus: function(event, ui) {
                                                event.preventDefault();
                                                this.value = ui.item.label;
                                            },
                                            search: function(e, u) {
                                                $(this).addClass('ajaxprocessing');
                                            },
                                            response: function(event, ui) {
                                                $(this).removeClass('ajaxprocessing');
                                            }
                                        });

                                    });
                                </script>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="TrackingNumber" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="TrackingNumber" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="AdminComment" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="AdminComment" />
                            </div>
                        </div>
                    </div>
                    @if (itemsFromMultipleWarehouses.Any())
                    {
                        <script type="text/javascript">
                            $(document).ready(function() {
                                $('#shipment-save').click(function() {
                                    return validateWarehouseAvailability();
                                });
                                $('#shipment-save-continue').click(function() {
                                    return validateWarehouseAvailability();
                                });
                            });

                            function validateWarehouseAvailability() {
                                @{
                                    var sb = new StringBuilder();
                                    for (var i = 0; i <= itemsFromMultipleWarehouses.Count - 1; i++)
                                    {
                                        var item = itemsFromMultipleWarehouses[i];
                                        sb.AppendFormat("validateAvailableQuantity('{0}')", item.OrderItemId);
                                        if (i != itemsFromMultipleWarehouses.Count - 1)
                                        {
                                            sb.Append(" && ");
                                        }
                                    }
                                }
                                var valid = @(Html.Raw(sb.ToString()));
                                if (!valid) {
                                    return confirm('@T("Admin.Orders.Shipments.Products.Warehouse.QuantityNotEnough")');
                                }
                                return true;
                            }

                            function validateAvailableQuantity(orderItemId) {
                                var enteredValue = parseInt($('#qtyToAdd' + orderItemId).val(), 10);
                                if (enteredValue <= 0)
                                    return true;
                                var reservedValue = parseInt($('#warehouse_' + orderItemId).find(':selected').data('reserved-qty'), 10);
                                var plannedValue = parseInt($('#warehouse_' + orderItemId).find(':selected').data('planned-qty'), 10);
                                var availableToAdd = reservedValue - plannedValue;
                                return enteredValue <= availableToAdd;
                            }
                        </script>
                    }
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        @T("Admin.Orders.Shipments.Products")
                    </div>
                    <div class="panel-body">
                        <table class="table table-hover table-bordered text-center">
                            <thead>
                                <tr>
                                    <th>
                                        @T("Admin.Orders.Shipments.Products.ProductName")
                                    </th>
                                    <th>
                                        @T("Admin.Orders.Shipments.Products.SKU")
                                    </th>
                                    <th>
                                        @T("Admin.Orders.Shipments.products.orderitemtotal")
                                    </th>
                                    <th>
                                        @T("Admin.Orders.Shipments.Products.ShippingFee")
                                    </th>
                                    <th>
                                        @T("Admin.Orders.Shipments.Products.ItemWeight")
                                    </th>
                                    <th>
                                        @T("Admin.Orders.Shipments.Products.ItemDimensions")
                                    </th>
                                    <th>
                                        @T("Admin.Orders.Shipments.Products.QtyOrdered")
                                    </th>
                                    <th>
                                        @T("Admin.Orders.Shipments.Products.QtyShipped")
                                    </th>
                                    <th>
                                        @T("Admin.Orders.Shipments.Products.QtyToShip")
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Items)
                                {
                                    <tr>
                                        <td style="width: 20%;text-align: left">
                                            <em><a asp-controller="Product" asp-action="Edit" asp-route-id="@item.ProductId">@item.ProductName</a></em>
                                            @if (!string.IsNullOrEmpty(item.AttributeInfo))
                                            {
                                                <p>
                                                    @Html.Raw(item.AttributeInfo)
                                                </p>
                                            }
                                            @if (item.ShipSeparately)
                                            {
                                                <p>
                                                    <strong>@T("Admin.Orders.Shipments.Products.ShipSeparately.Warning")</strong>
                                                    @T("Admin.Orders.Shipments.Products.ShipSeparately")
                                                </p>
                                            }
                                        </td>
                                        <td style="width: 10%;">
                                            @item.Sku
                                        </td>
                                        <td style="width: 10%;">
                                            @item.OrderItemFee
                                        </td>
                                        <td style="width: 10%;">
                                            <input name="shippingFeeToAdd@(item.OrderItemId)" type="text" value="@item.ShippingFee" id="shippingFeeToAdd@(item.OrderItemId)" class="form-control input-sm" />
                                        </td>
                                        <td style="width: 10%;">
                                            @item.ItemWeight
                                        </td>
                                        <td style="width: 10%;">
                                            @item.ItemDimensions
                                        </td>
                                        <td style="width: 10%;">
                                            @item.QuantityOrdered
                                        </td>
                                        <td style="width: 10%;">
                                            @item.QuantityInAllShipments
                                        </td>
                                        <td style="width: 10%;">
                                            <input name="qtyToAdd@(item.OrderItemId)" type="text" value="@item.QuantityToAdd" id="qtyToAdd@(item.OrderItemId)" class="form-control input-sm" />
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>