@model ProductModel

<div class="panel-group">
    @await Component.InvokeAsync("AdminWidget", new { widgetZone = "admin_product_details_pictures_top", additionalData = Model.Id })
    @if (Model.Id > 0)
    {
        <div class="panel panel-default">
            <div class="panel-body">
                <div id="productpictures-grid"></div>

                <script type="text/javascript">
                    $(document).ready(function() {
                        $("#productpictures-grid").kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("ProductPictureList", "Product", new {productId = Model.Id}))",
                                        type: "POST",
                                        dataType: "json",
                                        data: addAntiForgeryToken
                                    },
                                    update: {
                                        url: "@Html.Raw(Url.Action("ProductPictureUpdate", "Product"))",
                                        type: "POST",
                                        dataType: "json",
                                        data: addAntiForgeryToken
                                    },
                                    destroy: {
                                        url: "@Html.Raw(Url.Action("ProductPictureDelete", "Product"))",
                                        type: "POST",
                                        dataType: "json",
                                        data: addAntiForgeryToken
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors",
                                    model: {
                                        id: "Id",
                                        fields: {
                                            PictureUrl: { editable: false, type: "string" },
                                            DisplayOrder: { editable: true, type: "number" },
                                            OverrideAltAttribute: { editable: true, type: "string" },
                                            OverrideTitleAttribute: { editable: true, type: "string" }
                                        }
                                    }
                                },
                                requestEnd: function(e) {
                                    if (e.type == "update") {
                                        this.read();
                                    }
                                },
                                error: function(e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                            },
                            pageable: {
                                refresh: true,
                                numeric: false,
                                previousNext: false,
                                info: false,
                                @await Html.PartialAsync("_GridPagerMessages")
                            },
                            editable: {
                                confirmation: "@T("Admin.Common.DeleteConfirmation")",
                                mode: "inline"
                            },
                            scrollable: false,
                            columns: [
                            {
                                field: "PictureUrl",
                                title: "@T("Admin.Catalog.Products.Pictures.Fields.Picture")",
                                template: '<a href="#=PictureUrl#" target="_blank"><img alt="#=PictureId#" src="#=PictureUrl#" width="150" /></a>',
                                width: 200
                            }, {
                                field: "DisplayOrder",
                                title: "@T("Admin.Catalog.Products.Pictures.Fields.DisplayOrder")",
                                //integer format
                                format: "{0:0}",
                                width: 150
                            }, {
                                field: "OverrideAltAttribute",
                                title: "@T("Admin.Catalog.Products.Pictures.Fields.OverrideAltAttribute")",
                                width: 200
                            }, {
                                field: "OverrideTitleAttribute",
                                title: "@T("Admin.Catalog.Products.Pictures.Fields.OverrideTitleAttribute")",
                                width: 200
                            }, {
                                command: [
                                {
                                    name: "edit",
                                    text: {
                                        edit: "@T("Admin.Common.Edit")",
                                        update: "@T("Admin.Common.Update")",
                                        cancel: "@T("Admin.Common.Cancel")"
                                    }
                                }, {
                                    name: "destroy",
                                    text: "@T("Admin.Common.Delete")"
                                }
                                ],
                                width: 200
                            }
                            ]
                        });
                    });
                </script>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                @T("Admin.Catalog.Products.Pictures.AddNew")
            </div>
            <div class="panel-body">
                <script type="text/javascript">


                    $(document).ready(function() {
                        var pictureIds = [];
                        var pictureUrls = [];
                        $('#addProductPicture').click(function() {
                            pictureUrls.push($("#@Html.IdFor(model => model.AddPictureModel.PictureUrl)").val());
                            pictureUrls.push($("#PictureUrl1").val());
                            pictureUrls.push($("#PictureUrl2").val());
                            pictureUrls.push($("#PictureUrl3").val());
                            pictureUrls.push($("#PictureUrl4").val());

                            var pictureIdStrs = $("#@Html.IdFor(model => model.AddPictureModel.PictureId)").val();
                            var overrideAltAttribute = $("#@Html.IdFor(model => model.AddPictureModel.OverrideAltAttribute)").val();
                            var overrideTitleAttribute = $("#@Html.IdFor(model => model.AddPictureModel.OverrideTitleAttribute)").val();
                            var displayOrder = $("#@Html.IdFor(model => model.AddPictureModel.DisplayOrder)").val();
                            if (pictureIdStrs !== null && pictureIdStrs !== '' && pictureIdStrs != undefined) {
                                var ids = pictureIdStrs.split(';');
                                for (var i = 0; i <ids.length; i++) {
                                    pictureIds.push(ids[i]);
                                }
                            }
                            $('#addProductPicture').attr('disabled', true);

                            var postData = {
                                pictureIds: pictureIds,
                                pictureUrls: pictureUrls,
                                displayOrder: displayOrder,
                                overrideAltAttribute: overrideAltAttribute,
                                overrideTitleAttribute: overrideTitleAttribute,
                                productId: @Model.Id
                            };
                            addAntiForgeryToken(postData);

                            $.ajax({
                                cache: false,
                                type: "POST",
                                url: "@(Url.Action("ProductPicturesAddMulti", "Product"))",
                                data: postData,
                                success: function(data) {
                                    reloadData();
                                },
                                error: function(xhr, ajaxOptions, thrownError) {

                                }
                            });
                        });
                        function reloadData() {
                            var grid = $("#productpictures-grid");
                            grid.data('kendoGrid').dataSource.read();
                            $('#addProductPicture').attr('disabled', false);
                            $("#imageFromUrl0").html("");
                            $("#@Html.IdFor(model => model.AddPictureModel.PictureUrl)").val("");
                            $("#imageFromUrl1").html("");
                            $("#PictureUrl1").val("");
                            $("#imageFromUrl2").html("");
                            $("#PictureUrl2").val("");
                            $("#imageFromUrl3").html("");
                            $("#PictureUrl3").val("");
                            $("#imageFromUrl4").html("");
                            $("#PictureUrl4").val("");
                            $("#@Html.IdFor(model => model.AddPictureModel.PictureId)").val("0");
                        }
                        @*function downloadImage(control,number) {
                            if (control.val() != null && control.val() !== '') {
                                var postData = {
                                    url: control.val()
                                };
                                addAntiForgeryToken(postData);
                                $.ajax({
                                    cache: false,
                                    type: "POST",
                                    url: "@(Url.Action("AsyncImageFromUrl", "Picture"))",
                                    data: postData,
                                    success: function(data) {
                                        if (data.success) {
                                            pictureIds.push(data.pictureId);
                                        }
                                    },
                                    error: function(xhr, ajaxOptions, thrownError) {
                                        //alert('Failed to add product picture.');
                                    }
                                });
                            }
                        }*@
                    });
                </script>

                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="AddPictureModel.PictureId" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AddPictureModel.PictureId" />
                        <span asp-validation-for="AddPictureModel.PictureId"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <div class="label-wrapper">
                            <label class="control-label">Picture Url 1</label>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AddPictureModel.PictureUrl" />
                        @*<button type="button" class="btn btn-success" id="btnDownloadImage">@T("Admin.Common.ButtonDownloadImageProduct")</button>*@
                        <div id="imageFromUrl0">

                        </div>
                        <span asp-validation-for="AddPictureModel.PictureUrl"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <div class="label-wrapper">
                            <label class="control-label">Picture Url 2</label>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <input id="PictureUrl1" class="form-control" type="text" />
                        <div id="imageFromUrl1">

                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <div class="label-wrapper">
                            <label class="control-label">Picture Url 3</label>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <input id="PictureUrl2" class="form-control" type="text" />
                        <div id="imageFromUrl2">

                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <div class="label-wrapper">
                            <label class="control-label">Picture Url 4</label>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <input id="PictureUrl3" class="form-control" type="text" />
                        <div id="imageFromUrl3">

                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <div class="label-wrapper">
                            <label class="control-label">Picture Url 5</label>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <input id="PictureUrl4" class="form-control" type="text" />
                        <div id="imageFromUrl4">

                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="AddPictureModel.OverrideAltAttribute" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AddPictureModel.OverrideAltAttribute" />
                        <span asp-validation-for="AddPictureModel.OverrideAltAttribute"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="AddPictureModel.OverrideTitleAttribute" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AddPictureModel.OverrideTitleAttribute" />
                        <span asp-validation-for="AddPictureModel.OverrideTitleAttribute"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="AddPictureModel.DisplayOrder" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AddPictureModel.DisplayOrder" />
                        <span asp-validation-for="AddPictureModel.DisplayOrder"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <button type="button" id="addProductPicture" class="btn btn-primary">@T("Admin.Catalog.Products.Pictures.AddButton")</button>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="panel panel-default">
            <div class="panel-body">
                @T("Admin.Catalog.Products.Pictures.SaveBeforeEdit")
            </div>
        </div>
    }
    @await Component.InvokeAsync("AdminWidget", new { widgetZone = "admin_product_details_pictures_bottom", additionalData = Model.Id })
</div>